.Head_img {
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
}
.flex-container {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}
.SHead_img {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.Round_img {
    border-radius: 50%;
}
.Fade_img {
    opacity: 0.5;
}
ul {
    list-style-type: none;
}
.flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container-vertical {
    width: 60px;
    background-color: whitesmoke;
    left: 1400px;
}
.flex-container-left {
    align-content: flex-end;
}
.navigation {
    background-color: whitesmoke;
    height:85px;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100% ;
    align-content: space-between;
    align-items: center;
    z-index: 10;
}
.footer {
    background-color: whitesmoke;
    height:200px;
    display: flex;
    bottom: 0;
    width: 100% ;
    flex-direction: column;
    align-content: space-between;
    position: relative;

}
.name {
    background-color: white;
    width: 50%;
    border-bottom: 2px solid black;
    
}
.img_txt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-con {
    display: flex;
    background-color: gainsboro;
    flex-direction: column;
}
.txt-txt {
    margin-left: 30px;
    margin-right: 30px;
}
a:link {
    color: initial;
    text-decoration: none;
}
  /* visited link */
a:visited {
    color: initial;
    text-decoration: none;

}

  /* mouse over link */
a:hover {
    color: initial;
    text-decoration: none;
    
}

  /* selected link */
a:active {
    color: inital;
    text-decoration: none;

}
