.Head_img {
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
}
.flex-container {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
  }
.SHead_img {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.Round_img {
    border-radius: 50%;
}
.Fade_img {
    opacity: 0.5;
}
.list {
    list-style-type: none;
}
.flex-container-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.container-vertical {
    width: 60px;
    background-color: whitesmoke;
    left: 1400px;
}
.flex-container-left {
    align-content: flex-end;
}
.navigation {
    background-color: whitesmoke;
    height:85px;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100% ;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    z-index: 10;
}

a:link {
    color: initial;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: initial;
    text-decoration: none;

  }
  
  /* mouse over link */
  a:hover {
    color: initial;
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: inital;
    text-decoration: none;

  }
  